'.text.html':
  'v:asset.prefetch':
    'prefix': 'v:asset.prefetch'
    'body': """<v:asset.prefetch domains="${1:REQUIRED!}" path="${2:Path to file}" external="${3:1}" name="${4:NULL}" overwrite="${5:1}" dependencies="${6:NULL}" group="${7:'fluid'}" debug="${8:1}" standalone="${9:1}" rewrite="${10:1}" fluid="${11:1}" variables="${12:[mixed]}" allowMoveToFooter="${13:1}" movable="${14:1}" trim="${15:1}" namedChunks="${16:1}" protocol="${17:NULL}" protocolSeparator="${18:'//'}" force="${19:1}" content="${20:NULL}">
	${21:<!-- tag content - may be ignored! -->}
</v:asset.prefetch>"""
  'v:asset':
    'prefix': 'v:asset'
    'body': """<v:asset content="${1:NULL}" path="${2:NULL}" external="${3:1}" name="${4:NULL}" overwrite="${5:1}" dependencies="${6:NULL}" group="${7:'fluid'}" debug="${8:1}" standalone="${9:1}" rewrite="${10:1}" fluid="${11:1}" variables="${12:[mixed]}" allowMoveToFooter="${13:1}" movable="${14:1}" trim="${15:1}" namedChunks="${16:1}">
    	${17:<!-- tag content - may be ignored! -->}
</v:asset>"""
  'v:asset.style':
    'prefix': 'v:asset.style'
    'body': """<v:asset.style path="{f:uri.resource(path: '${1:Path to file}')}" name="${2:NULL}" content="${3:NULL}" external="${4:1}" overwrite="${5:1}" dependencies="${6:NULL}" group="${7:'fluid'}" debug="${8:1}" standalone="${9:1}" rewrite="${10:1}" fluid="${11:1}" variables="${12:[mixed]}" movable="${13:1}" trim="${14:1}" namedChunks="${15:1}">
	${17:<!-- tag content - may be ignored! -->}
</v:asset.style>"""
  'v:asset.script':
    'prefix': 'v:asset.script'
    'body': """<v:asset.script path="{f:uri.resource(path: '${1:Path to file}')}" name="${2:NULL}" allowMoveToFooter="${3:1}" external="${4:0}" movable="${5:1}" trim="${6:1}" overwrite="${7:1}" dependencies="${8:NULL}" group="${9:'fluid'}" debug="${10:1}" standalone="${11:1}" rewrite="${12:1}" fluid="${13:1}" variables="${14:[mixed]}" namedChunks="${15:1}" content="${16:NULL}">
	${17:<!-- tag content - may be ignored! -->}
</v:asset.script>"""
